
@{
    ViewBag.Title = "產品介紹";
    ViewBag.BodyClass = "Products";
}

<h1 class="title"><span class="underline">@ViewBag.Title</span></h1>

<div class="wrap">
    <figure class="piclist">
        <div class="cut">
            <img src="~/Content/images/pic-temp4.jpg" alt="產品列表圖">
        </div>
        <a href="~/Products/Content"></a>
        <figcaption>
            <h4>綠板系列</h4>
            <a href="~/Products/Content" class="more">more</a>
        </figcaption>
    </figure>
</div>