
@{
    ViewBag.Title = "寶程國際物業最新資訊";
    ViewBag.BodyClass = "News";
    ViewBag.subnav = "News";
}

<header class="bg-pattern p-y-48">
    <h1 class="title">@ViewBag.Title</h1>
    @Html.Partial("subnav")
</header>

<section class="wrap p-y-48">
    <article class="news-content text-left">
        <span class="date">2017-06-20</span>
        <header class="font-xxl">電梯昇降設備設置及檢查管理辦法之研修及未來制度</header class="font-xl">
        <main>
            @* 編輯器(可傳圖) *@
            <p>電梯昇降設備設置及檢查管理辦法之研修及未來制度</p>
            <p>電梯昇降設備設置及檢查管理辦法之研修及未來制度電梯昇降設備設置及檢查管理辦法之研修及未來制度電梯昇降設備設置及檢查管理辦法之研修及未來制度電梯昇降設備設置及檢查管理辦法之研修及未來制度電梯昇降設備設置及檢查管理辦法之研修及未來制度</p>
        </main>
    </article>

    <a href="List" class="btn lg">回列表</a>
</section>