
@{
    ViewBag.Title = "案例分享";
    ViewBag.BodyClass = "Works";
}

<h1 class="title"><span class="underline">@ViewBag.Title</span></h1>

<div class="wrap clearfix">
    <figure class="newslist">
        <div class="cut">
            @* 寬度不超過450，高度不超過265 *@
            <img src="~/Content/images/pic-temp.jpg" alt="案例分享列表圖">
        </div>
        <a href="~/Works/Content"></a>
        <figcaption>
            <h4>案例一</h4>
            <a href="~/Works/Content" class="more">more</a>
            <small class="date">2017/09/21</small>
        </figcaption>
    </figure>

    <figure class="newslist">
        <div class="cut">
            <img src="~/Content/images/pic-temp2.jpg" alt="案例分享列表圖">
        </div>
        <a href="~/Works/Content"></a>
        <figcaption>
            <h4>案例二</h4>
            <a href="~/Works/Content" class="more">more</a>
            <small class="date">2017/09/21</small>
        </figcaption>
    </figure>

    <figure class="newslist">
        <div class="cut">
            <img src="~/Content/images/pic-temp3.jpg" alt="案例分享列表圖">
        </div>
        <a href="~/Works/Content"></a>
        <figcaption>
            <h4>案例三</h4>
            <a href="~/Works/Content" class="more">more</a>
            <small class="date">2017/09/21</small>
        </figcaption>
    </figure>

    <figure class="newslist">
        <div class="cut">
            <img src="~/Content/images/pic-temp3.jpg" alt="案例分享列表圖">
        </div>
        <a href="~/Works/Content"></a>
        <figcaption>
            <h4>案例三</h4>
            <a href="~/Works/Content" class="more">more</a>
            <small class="date">2017/09/21</small>
        </figcaption>
    </figure>

    <figure class="newslist">
        <div class="cut">
            <img src="~/Content/images/pic-temp3.jpg" alt="案例分享列表圖">
        </div>
        <a href="~/Works/Content"></a>
        <figcaption>
            <h4>案例三</h4>
            <a href="~/Works/Content" class="more">more</a>
            <small class="date">2017/09/21</small>
        </figcaption>
    </figure>
</div>