
@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    ViewBag.Crumb = "相簿分類維護";
    ViewBag.subnav = "n2";
    ViewBag.subnav2 = "n2-1";
}

@section scripts {
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li>活動剪影管理 &#10095;</li>
        <li>@ViewBag.Crumb</li>
    </ul>
}

<h3 class="title">@ViewBag.Crumb <small class="oi" data-glyph="tags">編輯</small></h3>

<form class="form-list">
    <dl class="fields">
        <dt class="col-1">名稱</dt>
        <dd class="col-11">
            <input type="text">
        </dd>
    </dl>
    <dl class="fields">
        <dt class="col-1">排序</dt>
        <dd class="col-5">
            <input type="number" value="0" class="inline">
            <small>數字愈大愈前面</small>
        </dd>
    </dl>
    <dl class="fields">
        <dt class="col-1">前台顯示</dt>
        <dd class="col-5">
            <label class="switch">
                <input type="checkbox" checked>
                <div class="slider round"></div>
            </label>
        </dd>
    </dl>

    <fieldset class="m-t-24">
        <legend>[ 上傳圖片 ]</legend>
        <div class="alert-warning m-b-16">
            <strong>注意事項:</strong><br>
            圖片建議寬度不超過1000px，高度不超過800px，檔案大小不超過2MB (1MB=1000kb)
        </div>

        @* 拖曳上傳圖片：
           src https://demos.devexpress.com/aspxfilemanageranduploaddemos/uploadcontrol/DragAndDrop.aspx *@
        @* 當滑鼠拖檔案在這個區域時，class加上hover，顯示如下
        <section class="drop-zone hover"> *@
        <section class="drop-zone">
            拖曳圖片到此<br>
            or<br>
            點此選取檔案
        </section>

        @* 上傳中才會顯示的進度條 *@
        <div class="progress">
            <span class="progbar bg-success"></span>
            @* <span class="progbar" style="width: 100%">100%</span> *@
        </div>

        @* 上傳完成後的圖片 *@
        <table class="uploader m-t-32">
            <colgroup>
                <col style="width: 15%">
                <col span="3">
            </colgroup>
            <tr>
                <th>圖片</th>
                <th>圖說</th>
                <th>封面圖</th>
                <th class="item-edit">刪除</th>
            </tr>
            <tr>
                <td>
                    <img src="https://iso.500px.com/wp-content/uploads/2016/06/stock-photo-142869191-1-1500x1000.jpg" alt="demo圖">
                </td>
                <td>
                    <input type="text" name="" class="form-element">
                </td>
                <td>
                    @* 只能選一個 *@
                    <label class="switch">
                        <input type="radio">
                        <div class="slider round"></div>
                    </label>
                </td>
                <td class="item-edit">
                    <button class="btn-link text-danger hover-text-danger oi" title="刪除" data-glyph="trash"></button>
                </td>
            </tr>
        </table>
    </fieldset>

    <footer class="submit-bar clear m-t-24">
        <button type="button" class="btn success oi" data-glyph="circle-check">
            確認儲存
        </button>
        <button type="button" class="btn warning oi" data-glyph="circle-x" onclick="location.href='ActivityList'">
            回列表
        </button>
    </footer>
</form>