
@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    ViewBag.Crumb = "變更密碼";
    ViewBag.subnav = "Cog";
    ViewBag.subnav2 = "ChangPW";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li>系統設定</li>
        <li>&#10095; @ViewBag.Crumb</li>
    </ul>
}

<h3 class="title">@ViewBag.Crumb</h3>

<form class="form-list">
    <dl class="field">
        <dt class="col-2">目前密碼</dt>
        <dd class="col-5">
            <input type="text" required>
        </dd>
    </dl>
    <dl class="field">
        <dt class="col-2">新密碼</dt>
        <dd class="col-5">
            <input type="text">
        </dd>
        @* 有限制密碼規則時才顯示
        <dd class="col-4 text-danger">*密碼規則</dd> *@
    </dl>
    <dl class="field">
        <dt class="col-2">確認密碼</dt>
        <dd class="col-5">
            <input type="text">
        </dd>
    </dl>
    <footer class="submit-bar clear mt-24">
        <button type="button" class="btn success oi" data-glyph="circle-check">
            確認儲存
        </button>
    </footer>
</form>