
@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    ViewBag.Crumb = "最新消息管理";
    ViewBag.subnav = "n1";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li>@ViewBag.Crumb</li>
    </ul>
}

<h3 class="title">@ViewBag.Crumb <small class="oi" data-glyph="tags">編輯</small></h3>

<form class="form-list">
    <dl class="fields">
        <dt class="col-1">發佈日期</dt>
        <dd class="col-3">
            <input type="date" required>
        </dd>
    </dl>
    <dl class="fields">
        <dt class="col-1">標題</dt>
        <dd class="col-9">
            <input type="text">
        </dd>
    </dl>
    <dl class="fields">
        <dt class="col-1">排序</dt>
        <dd class="col-5">
            <input type="number" value="0" class="inline">
            <small>數字愈大愈前面</small>
        </dd>
    </dl>
    <dl class="fields">
        <dt class="col-1">前台顯示</dt>
        <dd class="col-5">
            <label class="switch">
                <input type="checkbox" checked>
                <div class="slider round"></div>
            </label>
        </dd>
    </dl>
    <dl class="fields">
        <dt class="col-1">首頁顯示</dt>
        <dd class="col-5">
            <label class="switch">
                <input type="checkbox">
                <div class="slider round"></div>
            </label>
        </dd>
    </dl>
    <fieldset class="m-t-24">
        <legend class="underline">[ 內容 ]</legend>
        <div class="alert-warning m-b-16">
            <strong>編輯器注意事項:</strong><br>
            從 WORD 複製文字時，請使用下方的 <img src="/Content/images/icon-word.jpg" /> 圖示來貼上 WORD 文字，避免跑版<br/>
            編輯器上傳圖片或新增表格等時，請勿設定寬度及高度(將數字刪除) ，以免行動裝置顯示時會跑版。<br/>
            檔案尺寸寬度超過 1600 或 高度超過1200 的圖片會被壓縮(PNG透明背景會變成不透明) <br/>
            youtube 可勾選「用自適應縮放模式」
        </div>
        <textarea rows="12"></textarea>
    </fieldset>
    <footer class="submit-bar clear m-t-24">
        <button type="button" class="btn success oi" data-glyph="circle-check">
            確認儲存
        </button>
        <button type="button" class="btn warning oi" data-glyph="circle-x" onclick="location.href='NewsList'">
            回列表
        </button>
    </footer>
</form>