
@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    ViewBag.Crumb = "產品資料維護";
    ViewBag.subnav = "Products";
    ViewBag.subnav2 = "Product";
}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li>產品管理 &#10095;</li>
        <li>@ViewBag.Crumb</li>
    </ul>
}

<h3 class="title">@ViewBag.Crumb</h3>

<div class="alert-warning mb-16">
    <strong>前台排序：</strong> 數字愈大愈前面。<br>
    <strong>刪除：</strong> @* 這裡要說明刪除規則 *@
</div>

<div class="topBtn-bar btn-group">
    <button class="btn success oi" data-glyph="plus" onclick="location.href='@Url.Content("ProductData")'">新增</button>
</div>

<header class="table-head form-inline">
    <label>產品分類</label>
    <select>
        <option>全部</option>
    </select>

    <label>前台顯示</label>
    <select>
        <option>全部</option>
        <option>顯示</option>
        <option>隱藏</option>
    </select>

    <input type="text" placeholder="請輸入關鍵字">
    <button class="btn">搜尋</button>
</header>

<table class="table-list table-hover table-striped">
    <colgroup>
        <col span="2">
        <col style="width: 15%">
        <col>
        <col span="3" style="width: 11.5%">
    </colgroup>
    <tr>
        @* 點選排序功能 (點一下遞增, 點兩下遞減)
           <button class="th-sort-toggle"></button>
           遞增 asc
           <button class="th-sort-toggle asc"></button>
           遞減 desc
           <button class="th-sort-toggle desc"></button>
        *@
        <th class="item-edit">刪除</th>
        <th class="item-edit">修改</th>
        <th class="text-left">
            <button class="th-sort-toggle">產品分類</button>
        </th>
        <th class="text-left">
            產品名稱
        </th>
        <th>
            <button class="th-sort-toggle">前台顯示</button>
        </th>
        <th>
            <button class="th-sort-toggle">前台排序</button>
        </th>
    </tr>
    <tr>
        <td>
            <button class="hover-danger oi" title="刪除" data-glyph="trash"></button>
        </td>
        <td>
            <button class="hover-primary oi" title="修改" data-glyph="pencil" onclick="location.href='@Url.Content("ProductData")'"></button>
        </td>
        <td class="text-left">
            AAA
        </td>
        <td class="text-left">
            白板貼
        </td>
        <td>
            <span class="label-success">顯示</span>
            @* <span class="label">隱藏</span> *@
        </td>
        <td>10</td>
    </tr>
</table>
<footer class="table-foot">
    <small class="pull-right">第 1-1 筆，共 1 筆</small>
    <nav class="pager">
        <a href="" class="oi" data-glyph="media-step-backward" title="到最前頁"></a>
        <a href="" class="oi" data-glyph="chevron-left" title="上一頁"></a>
        <span>
            第
            <input type="number" min="1" value="1">
            頁，共 1 頁
        </span>
        <a href="" class="oi" data-glyph="chevron-right" title="下一頁"></a>
        <a href="" class="oi" data-glyph="media-step-forward" title="到最後頁"></a>
    </nav>
</footer>