
@{
    ViewBag.Title = "認識寶程國際物業";
    ViewBag.BodyClass = "AboutUs";
}

<header class="bg-pattern p-y-48">
    <h1 class="title">@ViewBag.Title</h1>
</header>

<section class="p-y-48 font-xl">
    網頁製作中
</section>