
@{
    ViewBag.Title = "環保清潔";
    ViewBag.BodyClass = "Service";
}

<header class="bg-pattern p-y-48">
    <h1 class="title">@ViewBag.Title</h1>
</header>

<section class="p-y-48 font-xl">
    網頁製作中
</section>

@Html.Partial("service-nav")