@{
    ViewBag.Title = "首頁";
}

@section css {
    <link rel="stylesheet" href="~/Content/css/vendor/swiper.min.css">
}
@section scripts {
    <script src="~/Content/js/swiper.min.js"></script>
    <script>
        var swiperBanner = new Swiper(document.getElementById('banner'), {
            pagination: '.swiper-pager',
            paginationClickable: true,
            autoplay: 5000,
            autoplayDisableOnInteraction: false,
            speed: 1000,
            // grabCursor: true,
            effect: 'fade'
        });
    </script>
}

<section id="banner" class="swiper-container">
    <main class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url(/Content/images/index/banner.jpg);"></div>
    </main>
    <article class="card">
        <header class="underline">
            <small class="block text-right">懷特博</small>
            White Board
        </header>
        <main class="b">
            一向秉持最專業及誠信負責的態度來
            服務每一位客戶，
            從原料製程、成品製程、產品製程，
            皆有專人監督，品質有保障，
            直接銷售服務更迅速
        </main>
        <footer class="font-sp">White Board Industrial LTD., Co.</footer>
    </article>
</section>

<section class="news wrap">
    <h3 class="underline">消息報報</h3>
    <div class="row row-x0">
        <figure class="col-4 m-0">
            <img src="~/Content/images/news-temp.jpg" alt="最新消息列表圖">
            <a href="~/News/Content"></a>
            <figcaption>
                <h4>磁吸白板貼</h4>
                <a href="~/News/Content">more</a>
            </figcaption>
        </figure>

        <figure class="col-4 m-0">
            <img src="~/Content/images/news-temp.jpg" alt="最新消息列表圖">
            <a href="~/News/Content"></a>
            <figcaption>
                <h4>白板貼</h4>
                <a href="~/News/Content">more</a>
            </figcaption>
        </figure>

        <figure class="col-4 m-0">
            <img src="~/Content/images/news-temp.jpg" alt="最新消息列表圖">
            <a href="~/News/Content"></a>
            <figcaption>
                <h4>木框黑板</h4>
                <a href="~/News/Content">more</a>
            </figcaption>
        </figure>
    </div>
    <footer class="text-right">
        <a href="~/News" class="news-more">more <i class="align-middle font-xxl">&#9656;</i></a>
    </footer>
</section>