
@{
    ViewBag.Title = "寶程國際物業菁英招募";
    ViewBag.BodyClass = "JoinUs";
}

<header class="bg-pattern p-y-48">
    <h1 class="title">@ViewBag.Title</h1>
</header>

<section class="p-y-48 font-xl">
    網頁製作中
</section>
