
@{
    ViewBag.Title = "寶程國際物業營業項目";
    ViewBag.BodyClass = "Service";
}

<header class="bg-pattern p-y-48">
    <h1 class="title">@ViewBag.Title</h1>
</header>

<section class="service-intro">
    <div class="wrap text-left">
        <article class="col-7 push-5 p-y-64 bg-white">
            <h2 class="font-brush text-warning m-t-0">Safety & Service</h2>
            <p>[ 防盜系統 ]　[ 門禁系統 ]　[ 中央監控系統 ]　[ 出勤管理系統 ]</p>
            <p>[ 常駐維安警衛 ]　[ 人身安全保全 ]　[ 安全管理規劃諮詢服務 ]</p>
            <p>[ 物業前中後期管理 ]　[ 行政事務規劃及管理 ]</p>
            <p>[ 研討會演藝場各項活動等之安全防護 ]　[ 社區活動規劃及舉辦 ]</p>
            <p>[ 清潔規劃與維護 ]　[ 園藝設計及養護 ]　[ 外觀及環境維護 ]</p>
            <p>[ 機電規劃與維護 ]　[ 停車場管理規劃 ]</p>
        </article>
    </div>
</section>

<section class="work bg-muted">
    <div class="wrap cell-row">
        <a href="~/Home/Security" class="cell w1">
            安全防護
            <i class="oi" data-glyph="magnifying-glass"></i>
        </a>
        <a href="~/Home/Affair" class="cell w2">
            事務管理
            <i class="oi" data-glyph="magnifying-glass"></i>
        </a>
        <a href="~/Home/Equipment" class="cell w3">
            設備維護
            <i class="oi" data-glyph="magnifying-glass"></i>
        </a>
        <a href="~/Home/Clean" class="cell w4">
            環保清潔
            <i class="oi" data-glyph="magnifying-glass"></i>
        </a>
        <a href="~/Home/Park" class="cell w5">
            停車管理
            <i class="oi" data-glyph="magnifying-glass"></i>
        </a>
    </div>
</section>