@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block; }

progress {
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active, a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button, input, select, textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: ""; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  pre {
    white-space: pre-wrap !important; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
/*      base
-----------------------------------------------------------------------*/
@-moz-viewport , @-ms-viewport, @-o-viewport, @-webkit-viewport, @viewport {
  width: device-width; }
[tabindex="-1"]:focus {
  outline: none !important; }

html, body {
  text-align: center;
  height: 100%; }

body {
  background: #E0E4E9;
  color: #333;
  font: 16px/1.5 \5FAE\8EDF\6B63\9ED1\9AD4, "微軟正黑體", "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: .01em; }

img {
  vertical-align: middle; }

a {
  color: #3C6E8A;
  text-decoration: none;
  -webkit-transition: color 0.35s, background 0.3s;
  transition: color 0.35s, background 0.3s; }
  a:hover, a:active {
    color: #B08434;
    outline-width: 0; }

h1 {
  margin-top: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.1; }

h1 {
  font-size: 42px;
  font-size: 2.625rem; }

h2 {
  font-size: 64px;
  font-size: 4rem; }

h3 {
  font-size: 28px;
  font-size: 1.75rem; }

h4 {
  font-size: 25px;
  font-size: 1.5625rem; }

h5 {
  font-size: 21px;
  font-size: 1.3125rem; }

h6 {
  font-size: 17px;
  font-size: 1.0625rem; }

b, strong {
  font-weight: bold; }

small {
  font-size: 80%;
  font-weight: normal; }

mark {
  background-color: white;
  padding: .2em; }

hr {
  margin: 2rem 0;
  border: 0;
  border-top: 1px solid #E0E4E9; }

p {
  margin: 0; }
  p + p {
    margin-top: 0.7rem; }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #E0E4E9; }

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 0; }
  ol ol, ol ul, ol dl, ul ol, ul ul, ul dl, dl ol, dl ul, dl dl {
    font-size: 90%;
    margin-bottom: 0; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

.list-inline, .list-unstyled {
  list-style: none;
  padding-left: 0; }

.list-inline > li {
  display: inline-block; }
  .list-inline > li:not(:last-child) {
    margin-right: 5px; }

/*      layout
-----------------------------------------------------------------------*/
.wrap {
  max-width: 1400px;
  margin: 0 auto;
  min-width: 1200px; }
  .wrap::after, .clearfix::after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 87.5em) {
    .wrap {
      padding: 0 24px;
      padding: 0 1.5rem; } }

#wrapper, #header, #footer {
  min-width: 1200px; }

#wrapper {
  min-height: 100%;
  padding-bottom: 281px; }
  #wrapper::before {
    background: #9D612B url("../images/header-line.gif") center 0 no-repeat;
    height: 3px; }
    #wrapper::before, .underline::after, .work a.cell::before, #banner::after {
      content: '';
      display: block; }
  @media (max-width: 74.9375em) {
    .scrolled #wrapper {
      padding-top: auto; } }

#header {
  height: 68px;
  z-index: 6;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  -webkit-transition: height 0.35s;
  transition: height 0.35s; }
  .scrolled #header {
    background: rgba(12, 20, 28, 0.8);
    height: auto; }

.logo {
  cursor: pointer;
  cursor: hand;
  z-index: 10;
  display: none; }

#footer {
  background: #1B2E40;
  color: #f2f2f2;
  min-height: 281px;
  margin-top: -281px;
  z-index: 2;
  position: relative;
  padding-top: 35px;
  padding-bottom: 80px;
  border-top: 3px solid #E0E4E9; }
  #footer .underline {
    font-weight: normal;
    letter-spacing: 2px;
    padding-bottom: 6px; }
    #footer .underline::after {
      background: #B08434; }

.logo-s {
  background: url(../images/logo-foot.gif) 0 0 no-repeat;
  width: 25%;
  height: 163px;
  float: left; }
  .logo-s, .foot-club .icon-fb, .foot-club .icon-twitter, .foot-club .icon-line, .text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0; }

.foot-contact strong {
  letter-spacing: 1px;
  font-weight: normal; }
.foot-contact .inline-block {
  vertical-align: top; }

.foot-club a {
  display: block;
  float: left;
  margin-right: 20px; }
.foot-club .icon-fb {
  background: url(../images/icon-fb.gif) 0 0 no-repeat;
  width: 39px;
  height: 39px; }
  .foot-club .icon-fb:hover, .foot-club .icon-fb:active {
    background-image: url(../images/icon-fb2.gif); }
.foot-club .icon-twitter {
  background: url(../images/icon-twitter.gif) 0 0 no-repeat;
  width: 39px;
  height: 39px; }
  .foot-club .icon-twitter:hover, .foot-club .icon-twitter:active {
    background-image: url(../images/icon-twitter2.gif); }
.foot-club .icon-line {
  background: url(../images/icon-line.gif) 0 0 no-repeat;
  width: 40px;
  height: 39px; }
  .foot-club .icon-line:hover, .foot-club .icon-line:active {
    background-image: url(../images/icon-line2.gif); }

.copyright {
  background: #0f1923;
  color: #778591;
  line-height: 45px;
  letter-spacing: 1px;
  width: 100%;
  font-size: 12px;
  font-size: 0.75rem;
  position: absolute;
  bottom: 0; }

.js-mobile-body {
  overflow-y: hidden; }

#menu {
  z-index: 20;
  margin-top: 20px; }
  .scrolled #menu {
    margin-top: 0; }
  #menu a {
    display: inline-block;
    color: #fff;
    letter-spacing: 1px;
    padding: 0 24px;
    position: relative;
    font-size: 17px;
    font-size: 1.0625rem;
    padding: 0 25px; }
    #menu a:hover, #menu a:active, #menu a.current {
      color: #F5D77F; }
    .scrolled #menu a {
      padding: 12px 25px; }

button, [role="button"] {
  cursor: pointer;
  border: none; }
  button:active, button:focus, [role="button"]:active, [role="button"]:focus {
    outline: 0; }

a, area, button, [role="button"], input, label, select, summary, textarea {
  touch-action: manipulation; }

.btn {
  display: inline-block;
  padding: 16px 85px;
  font-size: 24px;
  line-height: 1.2;
  background: #1B2E40;
  color: #fff;
  -webkit-transition: background .35s, color .5s;
  transition: background .35s, color .5s;
  letter-spacing: 1px; }
  .btn:hover, .btn:active, .btn:focus {
    background: #B08434;
    color: #fff; }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: .65;
    background-color: #E0E4E9; }
  .btn.sm {
    font-size: 14px;
    padding: 6.72px 11.2px; }
  .btn.lg {
    font-size: 20px;
    padding: 14.4px 60px; }
  .btn.primary:hover, .btn.primary:active {
    background: #27435d; }
  .btn.secondary:hover, .btn.secondary:active {
    background: #c89945; }
  .btn.muted:hover, .btn.muted:active {
    background: #f8f9fa; }
  .btn.success:hover, .btn.success:active {
    background: #a5eb00; }
  .btn.info:hover, .btn.info:active {
    background: #4885a6; }
  .btn.warning:hover, .btn.warning:active {
    background: #f8e3a5; }
  .btn.danger:hover, .btn.danger:active {
    background: #ed7f45; }

.btn-link {
  display: inline;
  line-height: 1.5;
  background: none;
  color: #3C6E8A;
  -webkit-transition: color 0.35s, background 0.3s;
  transition: color 0.35s, background 0.3s; }
  .btn-link:hover, .btn-link:active, .btn-link:focus {
    background: none;
    color: #B08434; }
  .btn-link.disabled, .btn-link[disabled], fieldset[disabled] .btn-link {
    opacity: 1;
    color: #E0E4E9;
    background: none; }

.full {
  width: 100%;
  max-width: 100%; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.float-l {
  float: left; }

.float-r {
  float: right; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

.clear {
  clear: both; }

.hidden {
  display: none; }

.circle {
  border-radius: 50%; }

.img-center {
  display: block;
  margin: auto; }

.m-x-a {
  margin-right: auto;
  margin-left: auto; }

.m-a-0 {
  margin: 0; }

.m-t-0 {
  margin-top: 0; }

.m-r-0 {
  margin-right: 0; }

.m-b-0, .logo-s, .foot-contact {
  margin-bottom: 0; }

.m-l-0 {
  margin-left: 0; }

.m-x-0 {
  margin-right: 0;
  margin-left: 0; }

.m-y-0 {
  margin-top: 0;
  margin-bottom: 0; }

.m-a-2 {
  margin: 0.125rem; }

.m-t-2 {
  margin-top: 0.125rem; }

.m-r-2 {
  margin-right: 0.125rem; }

.m-b-2 {
  margin-bottom: 0.125rem; }

.m-l-2 {
  margin-left: 0.125rem; }

.m-x-2 {
  margin-right: 0.125rem;
  margin-left: 0.125rem; }

.m-y-2 {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem; }

.m-a-4 {
  margin: 0.25rem; }

.m-t-4 {
  margin-top: 0.25rem; }

.m-r-4 {
  margin-right: 0.25rem; }

.m-b-4 {
  margin-bottom: 0.25rem; }

.m-l-4 {
  margin-left: 0.25rem; }

.m-x-4 {
  margin-right: 0.25rem;
  margin-left: 0.25rem; }

.m-y-4 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.m-a-8 {
  margin: 0.5rem; }

.m-t-8 {
  margin-top: 0.5rem; }

.m-r-8 {
  margin-right: 0.5rem; }

.m-b-8 {
  margin-bottom: 0.5rem; }

.m-l-8 {
  margin-left: 0.5rem; }

.m-x-8 {
  margin-right: 0.5rem;
  margin-left: 0.5rem; }

.m-y-8 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.m-a-12 {
  margin: 0.75rem; }

.m-t-12 {
  margin-top: 0.75rem; }

.m-r-12 {
  margin-right: 0.75rem; }

.m-b-12 {
  margin-bottom: 0.75rem; }

.m-l-12, .foot-contact strong {
  margin-left: 0.75rem; }

.m-x-12 {
  margin-right: 0.75rem;
  margin-left: 0.75rem; }

.m-y-12 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

.m-a-16 {
  margin: 1rem; }

.m-t-16 {
  margin-top: 1rem; }

.m-r-16 {
  margin-right: 1rem; }

.m-b-16 {
  margin-bottom: 1rem; }

.m-l-16 {
  margin-left: 1rem; }

.m-x-16 {
  margin-right: 1rem;
  margin-left: 1rem; }

.m-y-16 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.m-a-24 {
  margin: 1.5rem; }

.m-t-24 {
  margin-top: 1.5rem; }

.m-r-24 {
  margin-right: 1.5rem; }

.m-b-24 {
  margin-bottom: 1.5rem; }

.m-l-24 {
  margin-left: 1.5rem; }

.m-x-24 {
  margin-right: 1.5rem;
  margin-left: 1.5rem; }

.m-y-24 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.m-a-32 {
  margin: 2rem; }

.m-t-32 {
  margin-top: 2rem; }

.m-r-32 {
  margin-right: 2rem; }

.m-b-32 {
  margin-bottom: 2rem; }

.m-l-32 {
  margin-left: 2rem; }

.m-x-32, .group-item {
  margin-right: 2rem;
  margin-left: 2rem; }

.m-y-32 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.m-a-48 {
  margin: 3rem; }

.m-t-48 {
  margin-top: 3rem; }

.m-r-48 {
  margin-right: 3rem; }

.m-b-48 {
  margin-bottom: 3rem; }

.m-l-48 {
  margin-left: 3rem; }

.m-x-48 {
  margin-right: 3rem;
  margin-left: 3rem; }

.m-y-48 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.m-a-64 {
  margin: 4rem; }

.m-t-64 {
  margin-top: 4rem; }

.m-r-64 {
  margin-right: 4rem; }

.m-b-64 {
  margin-bottom: 4rem; }

.m-l-64 {
  margin-left: 4rem; }

.m-x-64 {
  margin-right: 4rem;
  margin-left: 4rem; }

.m-y-64 {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.p-a-0 {
  padding: 0; }

.p-t-0 {
  padding-top: 0; }

.p-r-0 {
  padding-right: 0; }

.p-b-0 {
  padding-bottom: 0; }

.p-l-0 {
  padding-left: 0; }

.p-x-0 {
  padding-right: 0;
  padding-left: 0; }

.p-y-0 {
  padding-top: 0;
  padding-bottom: 0; }

.p-a-2 {
  padding: 0.125rem; }

.p-t-2 {
  padding-top: 0.125rem; }

.p-r-2 {
  padding-right: 0.125rem; }

.p-b-2 {
  padding-bottom: 0.125rem; }

.p-l-2 {
  padding-left: 0.125rem; }

.p-x-2 {
  padding-right: 0.125rem;
  padding-left: 0.125rem; }

.p-y-2 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem; }

.p-a-4 {
  padding: 0.25rem; }

.p-t-4 {
  padding-top: 0.25rem; }

.p-r-4 {
  padding-right: 0.25rem; }

.p-b-4 {
  padding-bottom: 0.25rem; }

.p-l-4 {
  padding-left: 0.25rem; }

.p-x-4 {
  padding-right: 0.25rem;
  padding-left: 0.25rem; }

.p-y-4 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.p-a-8 {
  padding: 0.5rem; }

.p-t-8 {
  padding-top: 0.5rem; }

.p-r-8 {
  padding-right: 0.5rem; }

.p-b-8 {
  padding-bottom: 0.5rem; }

.p-l-8 {
  padding-left: 0.5rem; }

.p-x-8 {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.p-y-8 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.p-a-12 {
  padding: 0.75rem; }

.p-t-12 {
  padding-top: 0.75rem; }

.p-r-12 {
  padding-right: 0.75rem; }

.p-b-12 {
  padding-bottom: 0.75rem; }

.p-l-12 {
  padding-left: 0.75rem; }

.p-x-12 {
  padding-right: 0.75rem;
  padding-left: 0.75rem; }

.p-y-12 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

.p-a-16 {
  padding: 1rem; }

.p-t-16 {
  padding-top: 1rem; }

.p-r-16 {
  padding-right: 1rem; }

.p-b-16 {
  padding-bottom: 1rem; }

.p-l-16 {
  padding-left: 1rem; }

.p-x-16 {
  padding-right: 1rem;
  padding-left: 1rem; }

.p-y-16 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.p-a-24 {
  padding: 1.5rem; }

.p-t-24 {
  padding-top: 1.5rem; }

.p-r-24 {
  padding-right: 1.5rem; }

.p-b-24 {
  padding-bottom: 1.5rem; }

.p-l-24 {
  padding-left: 1.5rem; }

.p-x-24 {
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

.p-y-24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.p-a-32 {
  padding: 2rem; }

.p-t-32 {
  padding-top: 2rem; }

.p-r-32 {
  padding-right: 2rem; }

.p-b-32 {
  padding-bottom: 2rem; }

.p-l-32 {
  padding-left: 2rem; }

.p-x-32 {
  padding-right: 2rem;
  padding-left: 2rem; }

.p-y-32 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.p-a-48 {
  padding: 3rem; }

.p-t-48 {
  padding-top: 3rem; }

.p-r-48 {
  padding-right: 3rem; }

.p-b-48 {
  padding-bottom: 3rem; }

.p-l-48 {
  padding-left: 3rem; }

.p-x-48 {
  padding-right: 3rem;
  padding-left: 3rem; }

.p-y-48 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.p-a-64 {
  padding: 4rem; }

.p-t-64 {
  padding-top: 4rem; }

.p-r-64 {
  padding-right: 4rem; }

.p-b-64 {
  padding-bottom: 4rem; }

.p-l-64 {
  padding-left: 4rem; }

.p-x-64 {
  padding-right: 4rem;
  padding-left: 4rem; }

.p-y-64 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.text-left, #footer, .news h2, .news ul {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.font-sp {
  font-family: "Didact Gothic", sans-serif; }

.text-white, .goTop, .goTop:hover, .goTop:active, .work a.cell:hover, .work a.cell:active, .news-list a {
  color: #fff; }

.bg-white {
  background-color: #fff; }

.text-primary {
  color: #13212e; }

.bg-primary, .btn.primary {
  background-color: #1B2E40; }

.text-secondary {
  color: #9c752e; }

.bg-secondary, .btn.secondary {
  background-color: #B08434; }

.text-muted {
  color: #d1d7de; }

.bg-muted, .btn.muted {
  background-color: #E0E4E9; }

.text-success {
  color: #76a900; }

.bg-success, .btn.success {
  background-color: #88C200; }

.text-info {
  color: #346078; }

.bg-info, .btn.info {
  background-color: #3C6E8A; }

.text-warning {
  color: #f3d067; }

.bg-warning, .btn.warning {
  background-color: #F5D77F; }

.text-danger {
  color: #da5916; }

.bg-danger, .btn.danger {
  background-color: #E96520; }

.font-tiny, .news-list small {
  font-size: 13px;
  font-size: 0.8125rem; }

.font-sm {
  font-size: 14px;
  font-size: 0.875rem; }

.font-md {
  font-size: 15px;
  font-size: 0.9375rem; }

.font-lg, .news-list a {
  font-size: 18px;
  font-size: 1.125rem; }

.font-xl, #footer .underline, .foot-contact strong {
  font-size: 24px;
  font-size: 1.5rem; }

.font-xxl, .group-item {
  font-size: 32px;
  font-size: 2rem; }

.font-xxxl {
  font-size: 38px;
  font-size: 2.375rem; }

.font-jumbo {
  font-size: 64px;
  font-size: 4rem; }

.goTop {
  z-index: 99;
  position: fixed;
  right: 1%;
  bottom: 45px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: rgba(0, 0, 0, 0.35);
  display: none;
  font-size: 1.125em; }
  .goTop:hover, .goTop:active {
    background: rgba(0, 0, 0, 0.7); }
  .goTop::before {
    top: 0 !important; }

figcaption {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  figcaption::before, figcaption::after {
    pointer-events: none; }

figure {
  position: relative;
  overflow: hidden;
  cursor: pointer; }
  figure > a {
    z-index: 1;
    opacity: 0;
    background: #fff;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }

.underline {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
  margin-bottom: 24px;
  margin-bottom: 1.5rem; }
  .underline::after {
    background: #F5D77F;
    height: 2px;
    width: 42px;
    position: absolute;
    bottom: -1px;
    left: 0; }

.font-brush {
  font-family: "Brush Script MT", cursive;
  font-weight: 300; }

.title {
  color: #394f64;
  letter-spacing: 2px;
  background: url(../images/title-line.gif) center bottom no-repeat;
  padding-bottom: 26px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }

.bg-pattern {
  background: url(../images/index/bg-pattern.gif) 0 0 repeat; }

.btn.outline {
  background: transparent;
  border: 3px solid #fff;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
  padding: 12px 50px; }
  .btn.outline:hover, .btn.outline:active, .btn.outline:focus {
    background: rgba(0, 0, 0, 0.8);
    color: #fff; }

.work .cell {
  border-left: 1px solid;
  width: 33.33333%;
  height: 245px;
  border-color: #e9ecef;
  font-size: 44px;
  font-size: 2.75rem; }
  .work .cell:last-child {
    border-right: 1px solid #e9ecef; }
.work a.cell {
  background-repeat: no-repeat;
  position: relative;
  z-index: 5;
  padding-top: 130px;
  background-position: center 50px; }
  .work a.cell::before {
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: background 0.4s, height 0.6s;
    transition: background 0.4s, height 0.6s;
    width: 100%;
    height: 0;
    z-index: -1;
    background: rgba(60, 110, 138, 0.2); }
  .work a.cell.w1 {
    background-image: url(../images/index/icon-w1.gif); }
  .work a.cell.w2 {
    background-image: url(../images/index/icon-w2.gif); }
  .work a.cell.w3 {
    background-image: url(../images/index/icon-w3.gif); }
  .work a.cell.w4 {
    background-image: url(../images/index/icon-w4.gif); }
  .work a.cell.w5 {
    background-image: url(../images/index/icon-w5.gif); }
  .work a.cell i {
    opacity: 0;
    -webkit-transition: opacity 0.5s, top 0.3s;
    transition: opacity 0.5s, top 0.3s;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 28%; }
  .work a.cell:hover, .work a.cell:active {
    background-image: none; }
    .work a.cell:hover::before, .work a.cell:active::before {
      height: 100%;
      background: #7eadc7; }
    .work a.cell:hover i, .work a.cell:active i {
      opacity: 1;
      top: 22%; }

#banner {
  background: #000;
  position: relative;
  height: 660px; }
  #banner::after {
    background: url(../images/index/logo.png) center no-repeat;
    width: 428px;
    height: 449px;
    z-index: 3;
    position: absolute;
    top: 90px;
    left: 50%;
    margin-left: -214px; }
  #banner img {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }

h2 {
  margin-top: 0; }

.group {
  padding: 88px 0; }

.group-item {
  background: url(../images/border-1.gif) 0 0 no-repeat, url(../images/border-2.gif) right 0 no-repeat, url(../images/border-3.gif) 0 bottom no-repeat, rgba(255, 255, 255, 0.5) url(../images/border-4.gif) right bottom no-repeat;
  line-height: 1.35;
  color: #1a1a1a;
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  padding: 18px 0; }

.news {
  background: #3C6E8A url(../images/index/pic.jpg) 610px center no-repeat; }

.news-list li {
  margin: 28px 0; }
.news-list a {
  width: 100%; }
  .news-list a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .news-list a:hover, .news-list a:active {
    color: #efc138; }
.news-list small {
  color: #D3BA8D;
  margin-top: 4px;
  letter-spacing: 1px; }

.work > div:first-child {
  border-bottom: 1px solid #e9ecef; }

.deck {
  background: url(../images/index/deck.gif) center 52px no-repeat;
  color: #6da2bf;
  padding-top: 100px; }
