
<section class="work bg-muted">
    <div class="wrap cell-row">
        <a href="~/Home/Security" class="cell w1">
            安全防護
            <i class="oi" data-glyph="magnifying-glass"></i>
        </a>
        <a href="~/Home/Affair" class="cell w2">
            事務管理
            <i class="oi" data-glyph="magnifying-glass"></i>
        </a>
        <a href="~/Home/Equipment" class="cell w3">
            設備維護
            <i class="oi" data-glyph="magnifying-glass"></i>
        </a>
        <a href="~/Home/Clean" class="cell w4">
            環保清潔
            <i class="oi" data-glyph="magnifying-glass"></i>
        </a>
        <a href="~/Home/Park" class="cell w5">
            停車管理
            <i class="oi" data-glyph="magnifying-glass"></i>
        </a>
    </div>
</section>