
<nav class="sub-nav">
    <a href="~/News" class="@(ViewBag.subnav == "News" ? "current" : "")">相關資訊</a>
    <a href="~/Activity" class="@(ViewBag.subnav == "Activity" ? "current" : "")">活動剪影</a>
</nav>